{[{ template "header.html" .}]}
<div class="row g-3 mt-3 mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="alerts" class="table table-sm" style="width: 100%;">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        {[{ .data }]}
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{[{ template "footer.html" .}]}