{[{ template "header.html" .}]}
{[{ $id := .data.ID }]}
{[{ $alerts := .data.Alerts }]}
<div class="row g3 mt-3 mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="m-0 p-0">
                            <i class="fa-solid fa-vial-circle-check"></i>
                            Viewing measurement: <span class="badge bg-dark">{[{ $id }]}</span>
                        </h5>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-secondary" disabled>
                                <i class="fa-solid fa-timeline"></i>
                                Graphs Time Rage (1H - Default)
                            </button>
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    More
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="drawCharts('{[{ $id }]}', 3)">3H</a></li>
                                    <li><a class="dropdown-item" onclick="drawCharts('{[{ $id }]}', 6)">6H</a></li>
                                    <li><a class="dropdown-item" onclick="drawCharts('{[{ $id }]}', 12)">12H</a></li>
                                    <li><a class="dropdown-item" onclick="drawCharts('{[{ $id }]}', 24)">24H</a></li>
                                    <li><a class="dropdown-item" onclick="drawCharts('{[{ $id }]}', 48)">48H</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm-4">
        <div class="card h-100">
            <div class="card-body">
                <h5>
                    <i class="fa-solid fa-route"></i>
                    Path
                </h5>
                <div id="tracePath" style="height: 280px;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card h-100">
            <div class="card-body">
                <h5>
                    <i class="fa-solid fa-chart-simple"></i>
                    Packet Statistics
                </h5>
                <div id="measurement_pkt_chart"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card h-100">
            <div class="card-body">
                <h5>
                    <i class="fa-solid fa-frog"></i>
                    Hops Taken
                </h5>
                <div id="measurement_hop_chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm-8">
        <div class="card h-100">
            <div class="card-body">
                <h5>
                    <i class="fa-solid fa-chart-line"></i>
                    Latency Statistics
                </h5>
                <div id="measurement_rtt_chart"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card h-100">
            <div class="card-body">
                <h5>
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Alerts
                </h5>
                <div class="table-responsive">
                    <table id="alerts" class="table table-sm" style="width: 100%;">
                        <thead>
                            <tr>
                                <th><i class="fa-solid fa-clock"></i> Timestamp</th>
                                <th><i class="fa-solid fa-gears"></i> Reason</th>
                                <th><i class="fa-solid fa-comments"></i> Message</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {[{ range $index, $alert := $alerts }]}
                            <tr>
                                <td>{[{ $alert.AlertTimestamp }]}</td>
                                <td>{[{ $alert.AlertReason }]}</td>
                                <td>{[{ $alert.AlertMessage }]}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary" hx-get="/api/v1/measurements/{[{ $id }]}/alert/{[{ $alert.AlertTimestamp }]}"
                                        hx-target="#alert_target_{[{ $index }]}"
                                        nunjucks-template="alert_template_{[{ $index }]}" data-bs-toggle="modal" data-bs-target="#alertInfoModal_{[{ $index }]}">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                    <div class="modal fade" id="alertInfoModal_{[{ $index }]}" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5">
                                                        <i class="fa-solid fa-circle-exclamation"></i>
                                                        Alert Info: {[{ $alert.AlertReason }]} @ {[{ $alert.AlertTimestamp }]}
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="alert_target_{[{ $index }]}"></div>
                                                    <template id="alert_template_{[{ $index }]}">
                                                        <ul class="list-group">
                                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                <span class="font-weight-bold">AS Path During Alert:</span>
                                                                <span class="badge bg-primary rounded-pill small">{{ data.alerting_as_path }}</span>
                                                            </li>
                                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                <span class="fw-bold">AS Path Before Alert:</span>
                                                                <span class="badge bg-primary rounded-pill small">{{ data.expected_as_path }}</span>
                                                            </li>
                                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                <span class="fw-bold">IP Path During Alert:</span>
                                                                <span class="badge bg-primary rounded-pill small">{{ data.alerting_ip_path }}</span>
                                                            </li>
                                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                <span class="fw-bold">IP Path Before Alert:</span>
                                                                <span class="badge bg-primary rounded-pill small">{{ data.expected_ip_path }}</span>
                                                            </li>
                                                        </ul>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {[{ end }]}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Measurement Results -->
<script src="/static/js/charts/combined.js"></script>
<script src="/static/js/visualisation/tracepath.js"></script>
<script>
    window.onload = function () {
        // Load initial graph with 1H range
        drawCharts("{[{ $id }]}", 1);
        // Display latest trace path
        drawTracePath("{[{ $id }]}");
    };
    $(document).ready(function () {
        $('#alerts').DataTable(
            {
                order: [[0, "desc"]]
            }
        )
    }
    );
</script>
{[{ template "footer.html" .}]}